*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 150px;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pagination button {
  width: 40px;
  height: 40px;
  font-weight: 600;
  transition: all 0.3s;
  margin: 0 10px;
  border-radius: 6px;
  border-color: blue;
  color: blue;

}

.pagination button.active {
  font-weight: 900;
  color: black;
  border-color: black;
}